

html,body {
  padding: 0px;
  margin: 0px;
  border:0px;
  font-family: 'Ubuntu', sans-serif; 
  box-sizing:border-box;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.login,
.register,
.home,
.transaction,
.report,
.account,
.help{
  width: 400px;
}

.login h2,
.register h2,
.home h2,
.transaction h2,
.report h2,
.account h2,
.help h2{
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
}

.login h3{
  font-size: 20px;
  /* color: rgb(15, 148, 46); */
  color: #E57C55;
  text-transform: none;
  text-align: center;
  width: 100%;
}

.register h4,
.home h4,
.transaction h4,
.report h4,
.account h4,
.help h4 {
  font-size: 20px;
  color: #E57C55;
  /* color: rgb(15, 148, 46); */
  font-style: italic;
  text-transform: none;
  text-align: center;
}

.transaction h5,
.report h5,
.account h5,
.help h5 {
  font-size: 15px;
  color: rgb(165, 144, 104);
  font-style:none;
  text-transform: none;
  text-align: left;
}

.login a {
  text-align: center;
}

input[type='text'] {
  background-color: #e6e6e6;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 20px 30px;
  text-align: center;
}

input[type='edit'] {
  background-color: #e6e6e6;
  color: #827ffe;
  margin-bottom: 20px;
  border: none;
  width: 50%;
  padding: 0px 0px;
  text-align: center;
}


input[type='password'] {
  background-color: #e6e6e6;
  padding: 20px 30px;
  color: #827ffe;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  text-align: center;

}

input[type='submit'] {
  padding: 15px 0px;
  background-color: #E57C55;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

input[type='reset'] {
  padding: 15px 0px;
  background-color: #E57C55;
  color: #fff;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
}

.check {
  font-size: 16px;
}

button {
  text-decoration: none;
  text-align: center;
  padding: 6px 50px;
  background-color: #E57C55;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 4px;
  margin-right: 0px;
  border: none;
  width: 100%;
  display: block;
}

.button1{
  min-width: 100px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 6px;
  width: 100%;
}

.button2{
  max-width: 100px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 6px;
  width: 100%;
  background-color: #cb6e4b;
}

.button3{
  min-width: 100px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 1px;
  margin-right: 1px;
  padding: 6px 6px;
  width: 49%;
  display: inline-block;

}

.button4 {
  position: relative;
  padding: 6px 6px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 16px;
  width: 75%;
  left: 12.5%;
}

.disabled {
  min-width: 100px;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px 6px;
  opacity: 0.6;
  cursor: not-allowed;
}

.dropbtn {
  background-color: #E57C55;
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 6px 6px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  background-color: #f9f9f9;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-disabled a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: none;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  position:absolute;
  display: block;
}

.dropdown:hover .dropbtn {
  /* background-color: #3e8e41; */
  background-color: #E57C55;
}

.link {
  text-decoration: none;
  color: #E57C55;
  display: block;
  padding: 5px 0px;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  width: 100%;
  display: block;
}

.linklogin {
  display: block;
  text-decoration: none;
  padding: 5px 0px;
  background-color: #E57C55;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  width: 100%;
  display: block;
}

.linkhomepg {
  text-decoration: none;
  text-align: center;
  padding: 6px 50px;
  background-color: #E57C55;
  color: #fff;
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 0px;
  border: none;
  width: 100%;
  display: block;
}

.image {
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  content:url(https://scontent.fhkg4-2.fna.fbcdn.net/v/t1.0-9/94240522_830042490739773_119336031391580160_n.jpg?_nc_cat=103&_nc_sid=09cbfe&_nc_ohc=AyIK-mT8BaoAX8PTbg-&_nc_ht=scontent.fhkg4-2.fna&oh=a9d24996dc2ed181ec7604501a3a979c&oe=5FA79EEB);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  padding-top: 10%;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: #E57C55;
  color: white;
  position: relative;
  text-align: center;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: #E57C55;
  color: white;
  position: relative;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #E57C55;
  color: #ffffff;
}

.divCell {
  margin-top: 20px;
}


select {
  font: 15px sans-serif;
  /*border: none;*/
  width: 100%;
  padding: 10px 10px 10px 10px;
  position: center;
  text-align-last:center;
/*  -webkit-appearance: none;
  appearance: none;
  color: var(--baseFg);*/
  /*border: 1px solid var(--baseFg);
  line-height: 1;
  outline: 0;
  border-radius: var(--radius);
  background-color: var(--baseBg);*/
  /*background-image: linear-gradient(var(--baseFg), var(--baseFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentBg) 50%),
    linear-gradient(var(--accentBg) 42%, var(--accentFg) 42%);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 1px 100%, 20px 22px, 20px 22px, 20px 100%;
  background-position: right 20px center, right bottom, right bottom, right bottom;*/
}

.select2 {
  padding: 0px 0px 0px 0px;
  width: 50%
}

.select2:hover {
  width:50%;
}

.select2:active {
  width: 50%;
}

.select2:focus {
  width: 50%;
}



select:hover {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
    width:100%;
}

select:active {
  background-image: linear-gradient(var(--accentFg), var(--accentFg)),
    linear-gradient(-135deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(-225deg, transparent 50%, var(--accentFg) 50%),
    linear-gradient(var(--accentFg) 42%, var(--accentBg) 42%);
  color: var(--accentBg);
  border-color: var(--accentFg);
  background-color: var(--accentFg);
  width:100%;
}

select:focus {
  width: 100%;
}

.transaction label,
.newHarvest label{
  margin-left: 70px;
}
.manageTransactions label {
  margin-bottom: 20px;
}

[type="date"] {
  margin-left: 10px;
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

